.account {
	cursor: pointer;
	height: 32px;
	width: 32px;
	overflow: hidden;
	margin-right: 4px;
}

.account .gravatar {
	width: 32px;
	height: 32px;
}

.login_icon {
	display: block;
	text-align: center;
}

.login_form, .logout_form {
	display: none;
}

.login_form.active, .logout_form.active {
	display: block;
}

@media screen and (max-width: 35.5em) {
	.account {
		padding: 20px;
	}
}

/*
.account .login_form input {
	float:left;
	margin-left: 5px;
	width: 160px;
	height: 14px;
}

.account .login_form input[type="submit"] {
	font-size: 12px;
	padding: 0;
	margin: 0 0 0 10px;
	height: 20px;
	width: 90px;
}

.account .login_form a {
	font-size: 12px;
	padding: 0;
	margin: 0 0 0 10px;
	text-align: center;
	height: 18px;
	width: 88px;
}

.account .logout_form input[type="submit"] {
	float: right;
	font-size: 12px;
	padding: 0;
	margin: 22px 5px 0 0;
	height: 20px;
	width: 60px;
}

.account .logout_form a.button {
	float: right;
	font-size: 12px;
	padding: 0;
	margin: 22px 10px 0 0;
	text-align: center;
	height: 18px;
	width: 118px;
}


.account .welcome {
	height: 20px;
	line-height: 1;
}
*/

/*
@media screen and (max-width: 768px){
	.account {border: none; margin-top: 20px;}
	.account .welcome {height: 70px;}
	.account.active {width: 90%; height: 170px; padding: 15px; margin: 20px; border: 1px solid {{ CONTENT_BORDER_COLOR }}; border-radius: 20px; background-color: {{ FORM_BORDER_COLOR }};}
	.account .gravatar {border-radius: 10px;}
	.account.active .gravatar {border-radius: 10px;}
	.account .login_form {font-size: 150%; line-height: 1.5;}
	.account .logout_form {font-size: 150%; line-height: 1.5;}
	.account .login_form input {height: 20px; margin: 0 20px 0 10px;}
	.account .login_form input[type="submit"] {font-size: 150%; height: 40px; width: 40%; margin: 10px; padding-top: 1px;}
	.account .login_form a {font-size: 150%; height: 38px; width: 40%; margin: 10px;}
	.account .logout_form input[type="submit"] {font-size: 150%; height: 40px; width: 30%; margin: 10px; padding-top: 1px; float: none;}
	.account .logout_form a.button {font-size: 120%; line-height: 1.95; height: 38px; width: 40%; margin: 10px; float: none;}
}
*/
