p, li, .terminal {
	line-height: 1.6em;
}

.terminal {
	font-family: monospace;
	border: 1px solid #777;
}

pre.terminal {
	margin: 1.7em 0 1.7em 0.3em;
	padding: 0.1em 0.5em 0.3em 0.7em;
	border-left: 11px solid #777;
	overflow-x: auto;
	width: 70%;
	color: #ccc;
	background: #222;
}

span.terminal {
	border-radius: 4px;
	padding: 0.3em;
	margin: -0.3em 0.3em -0.3em 0.3em;
	color: #222;
	background: #ccc;
}
