{% extends "base.html" %}
{% load i18n %}
{% load global_tags %}
{% block title %}
	{% trans 'Account control panel' %}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='accounts' %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}
	<div class="content-block">
	<h1>{% trans 'Staff area' %}</h1>

		<!-- TODO render form errors -->
		{% if user.is_staff or perms.accounts.polls_generate_tokens %}
			{% if not polls_tokens_available %}
				<div class="p-label label-yellow">{% trans 'Tokens for private polls was requested recently by you' %}</div>
			{% endif %}
		{% endif %}

		{% if user.is_staff or perms.accounts.mailer_generate_tokens %}
			{% if not mailer_tokens_available %}
				<div class="p-label label-yellow">{% trans 'Tokens for private mailing lists was requested recently by you' %}</div>
			{% endif %}
		{% endif %}


		{% if user.is_staff or perms.accounts.polls_generate_tokens %}
			{% if polls_tokens_available %}
				<form class="p-form p-form-aligned" method="POST" action="{{ url_request_polls_tokens }}">
					<fieldset>
						{% csrf_token %}
						<div class="p-controls">
							<h4>{% trans 'Request tokens for private polls' %}</h4>
						</div>
						<div class="p-control-group">
							<label for="id_p_token_count">{% trans 'How many?' %}</label>
							<input id="id_p_token_count" type="text" name="token_count" value="">
						</div>
						<div class="p-control-group">
							<label for="id_p_qr">{% trans 'QR codes per page (currently supported 1, 6 and 24)' %}</label>
							<input id="id_p_qr" type="text" name="qr" value="">
						</div>
						<div class="p-control-group">
							<label for="id_redirect">{% trans 'Redirect' %}</label>
							<input id="id_redirect" type="text" name="redirect" value="/">
						</div>
						<div class="p-controls">
							<input class="p-button p-button-primary" type="submit" title="{% trans 'Request tokens' %}" value="{% trans 'Submit request for polls tokens' %}">
						</div>
					</fieldset>
				</form>
			{% endif %}
		{% endif %}

		<!-- TODO render form errors -->
		{% if user.is_staff or perms.accounts.mailer_generate_tokens %}
			{% if mailer_tokens_available %}
				<form class="p-form p-form-aligned" method="POST" action="{{ url_request_mailer_tokens }}">
					<fieldset>
						{% csrf_token %}
						<div class="p-controls">
							<h4>{% trans 'Request tokens for private mailing list' %}</h4>
						</div>
						<div class="p-control-group">
							<label for="id_m_token_count">{% trans 'How many?' %}</label>
							<input id="id_m_token_count" type="text" name="token_count" value="">
						</div>
						<div class="p-control-group">
							<label for="id_m_qr">{% trans 'QR codes per page (currently supported 1, 6 and 24)' %}</label>
							<input id="id_m_qr" type="text" name="qr" value="">
						</div>
						<div class="p-control-group">
							<label for="id_uuid">{% trans 'List' %}</label>
							<select id="id_uuid" name="uuid">
								{% for uuid, name in mailer_lists.items %}<option value="{{ uuid }}">{{ name }}</option>{% endfor %}
							</select>
						</div>
						<div class="p-controls">
							<input class="p-button p-button-primary" type="submit" title="{% trans 'Request tokens' %}" value="{% trans 'Submit request for mailer tokens' %}">
						</div>
					</fieldset>
				</form>
			{% endif %}
		{% endif %}

		<!-- TODO render form errors -->
		{% if perms.accounts.create_user_with_key %}
			<form class="p-form p-form-aligned" method="POST" action="{{ url_create_user_with_key }}">
				<fieldset>
					{% csrf_token %}
					<div class="p-controls">
						<h4>{% trans 'Create user with authorization key' %}</h4>
					</div>
					<div class="p-control-group">
						<label for="id_username">{% trans 'Username' %}</label>
						<input id="id_username" type="text" name="username" value="">
					</div>
					<div class="p-control-group">
						<label for="id_group">{% trans 'Group' %}</label>
						<select id="id_group" name="group">
							{% for id, name in groups.items %}<option value="{{ id }}">{{ name }}</option>{% endfor %}
						</select>
					</div>
					<div class="p-controls">
						<input class="p-button p-button-primary" type="submit" title="{% trans 'Create user' %}" value="{% trans 'Submit request for user creation' %}">
					</div>
				</fieldset>
			</form>
		{% endif %}

		<hr />
	</div>
{% endblock %}
