{% extends "base.html" %}
{% load i18n %}
{% load global_tags %}
{% block title %}
	{% trans 'Account control panel' %}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='accounts' %}
{% endblock %}
{% block breadcrumbs %}

{% endblock %}
{% block content %}
	<div class="content-block">
		<h1>{% trans 'Lost account restoration' %}</h1>
		{% if message %}<div class="p-label label-yellow">{{ message }}</div>{% endif %}

		{% if not restore_requested %}
			<!-- TODO apply errorlist classes -->
			<form class="p-form p-form-aligned" method="POST" action="{{ url_restore }}?step=1">
				<fieldset>
					{% csrf_token %}
					<div class="p-control-group">
						<label for="id_username">{% trans 'Username' %}</label>
						{{ form1.username }}
						{% for error in form1_errors.username %}{{ error }}<br />{% endfor %}
					</div>
					<div class="p-control-group">
						<label for="id_email">{% trans 'Email' %}</label>
						{{ form1.email }}
						{% for error in form1_errors.email %}{{ error }}<br />{% endfor %}
					</div>
					<div class="p-controls">
						<input class="p-button p-button-primary" type="submit" value="{% trans 'Restore' %}">
					</div>
				</fieldset>
			</form>
		{% elif not restore_approved %}
			<form class="p-form p-form-aligned" method="POST" action="{{ url_restore }}?step=2">
				<fieldset>
					{% csrf_token %}
					<div class="p-controls">
						<label>
{% blocktrans %}Account restoration request accepted.<br />
If given account is found, an email message will be sent with a recovery code.<br />
<big><span class="red">Do not leave this page</span></big> until you restore your account.<br />
You will not be able to request another code for some time and the requested one will only work for this session.{% endblocktrans %}
						</label>
					</div>
					<div class="p-control-group">
						<label for="id_code">{% trans 'Code' %}</label>
						{{ form2.code }}
						{% for error in form2_errors.code %}{{ error }}<br />{% endfor %}
					</div>
					<div class="p-controls">
						<input class="p-button p-button-primary" type="submit" value="{% trans 'Recovery' %}">
					</div>
				</fieldset>
			</form>
		{% else %}
			<form class="p-form p-form-aligned" method="POST" action="{{ url_restore }}?step=3">
				<fieldset>
					{% csrf_token %}
					<div class="p-controls">
						<label>{% trans 'Enter new password for your account' %}</label>
					</div>
					<div class="p-control-group">
						<label for="id_password">{% trans 'Password' %}</label>
						{{ form3.password }}
						{% for error in form3_errors.password %}{{ error }}<br />{% endfor %}
					</div>
					<div class="p-control-group">
						<label for="id_password_confirm">{% trans 'Password again' %}</label>
						{{ form3.password_confirm }}
						{% for error in form3_errors.password_confirm %}{{ error }}<br />{% endfor %}
					</div>
					<div class="p-controls">
						<input class="p-button p-button-primary" type="submit" value="{% trans 'Recovery' %}">
					</div>
				</fieldset>
			</form>
		{% endif %}
		<hr />
	</div>
{% endblock %}
