<form class="p-g p-u-xl-1-4 p-u-lg-1-3 p-u-md-1-2 p-u-sm-1 p-form poll" action="{{ app_vote }}" method="POST">
	<div class="p-u-sm-1-24"></div>
	<fieldset class="p-u-sm-11-12">
	<legend>{{ poll_title }}</legend>
		{% if not results %}
			{% csrf_token %}
			<input type="hidden" name="uuid" value="{{ poll_uuid }}">
		{% endif %}
		<input type="hidden" name="back_url" value="{{ back_url }}">
		<label>{{ poll_text }}</label>
{{ poll_body }}
	<hr />
	</fieldset>
	<div class="p-u-sm-1-24"></div>
</form>
