{% load i18n %}
<div class="p-controls">
{% for id, text, count, tokens in options %}
	<div class="votebar" data-votes-counter=
		{% if show_results %}
			"{{ count }}" title="{{ count }}">
				{% for token in tokens %}
					<div style="display: none">{{ token }}</div>
				{% endfor %}
			{% else %}
			"1">
		{% endif %}
		<label for="o_{{ id }}" class="p-radio p-option p-option-xl-1-4 p-option-lg-1-3 p-option-md-1-2 p-option-sm-1 p-h-scroll">
			{% if can_vote %}
				<input id="o_{{ id }}" type="radio" name="option" value="{{ id }}" required>
			{% endif %}
			{{ text }}
		</label>
	</div>
{% endfor %}
{% if can_vote and suggestions %}
	<label for="o_sug" class="p-radio">
		<input id="o_sug" type="radio" name="option" value="suggestion">
		{% trans 'Suggestion' %}:<br />
		<input class="p-input-1" type="text" name="suggestion">
	</label>
{% endif %}
</div>
<div class="p-controls">
	{% if can_vote %}<input class="p-button p-button-primary" type="submit" value="{% trans 'Vote' %}">{% endif %}
	{% if disabled %}<input class="p-button p-button-primary" type="submit" value="{% trans '313373 only' %}" disabled="disabled">{% endif %}
</div>
