{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans '403 error' %}{% endblock %}
{% block content %}
	<div class="content-block">
		<div class="error404"></div>
		<p>
		{% if message %}
			{{ message }}
		{% else %}
			{% trans 'You shall not pass' %}
		{% endif %}
		</p>
	</div>
{% endblock %}
