{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %}{% trans 'Admin panel help' %} | {{ site_title|default:'Ninamori CMS' }}{% endblock %}
{% block branding %}<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Admin panel help') }}</a></h2>{% endblock %}
{% block content %}
<style>
h1 {margin: 20px 0 0 0;}
</style>
<h2>CMS</h2>
<p>{% blocktrans %}To make page private just select one or more groups in Allowed groups.<br />
Should you want to display key authentication form on private page for not authenticated users, just add <tt>key_auth=1</tt> parameter to the url.{% endblocktrans %}</p>
<p>{% blocktrans %}CMS application admin panel is working with an experimental locking application which provides concurrent locking.<br />
It locks pages on editing for ten minutes so than no other user can edit them at the same time.<br />
It unlocks pages back on unlocking or leaving the editor.<br />
Other than that, the interface should be self-documenting.{% endblocktrans %}</p>
<h3>{% trans 'CMS hooks' %}</h3>
<p>{% blocktrans %}Just place those hooks in any place and the CMS application will replace them with sought content.<br />
You may ommit spaces between brackets and hooks or leave them be if you like.<br />
Use the raw HTML editor to make sure there are no &amp;nbsp; or other replacements made by WYSIWYG, otherwise hooks will not work.{% endblocktrans %}</p>
<table class="adminhelp">
	<tbody>
		<tr>
			<td>&#123;&#123; next_2nd_friday_or_last_saturday &#125;&#125;</td>
			<td>{% blocktrans %}will show next second friday or next last saturday of the month in visitor´s locale{% endblocktrans %}</td>
		</tr>
		<tr>
			<td>&#123;&#123; yandex_money_form &#125;&#125;</td>
			<td>{% blocktrans %}will show the yandex money donation form, will crash unless you create Yandex balance item first{% endblocktrans %}</td>
		</tr>
		<tr>
			<td>&#123;&#123; subscribe_form &#125;&#125;</td>
			<td>{% blocktrans %}will show the mailer app subscription form{% endblocktrans %}</td>
		</tr>
		<tr>
			<td>&#123;&#123; poll_form|<i>poll id</i>|<i>redirect url</i> &#125;&#125;</td>
			<td>{% blocktrans %}will show the poll form which will redirect voters to a given url or a error message in the case of misconfiguration{% endblocktrans %}</td>
		</tr>
		<tr>
			<td>&#123;&#123; poll_results|<i>poll-id</i> &#125;&#125;</td>
			<td>{% blocktrans %}form will aways show results (even if disabled for the the given poll) and will never allow to vote (because it´s results, not a poll){% endblocktrans %}</td>
		</tr>
		<tr>
			<td>&#123;&#123; comments &#125;&#125;</td>
			<td>{% blocktrans %}will show the commentary form, a commentary group object will be created on a first access and is bound to a page path (current implementation limiation){% endblocktrans %}</td>
		</tr>
		<tr>
			<td>&#123;&#123; feedback_form &#125;&#125;</td>
			<td>{% blocktrans %}will show the feedback form, there should not be more than a single feedback form per page (current JS implementation limiation){% endblocktrans %}</td>
		</tr>
		<tr>
			<td>&#123;&#123; leaflet_map|<i>map title</i> &#125;&#125;</td>
			<td>{% blocktrans %}will show the leaflet map{% endblocktrans %}</td>
		</tr>
	</tbody>
</table>
<h3>{% trans 'CMS leaflet maps' %}</h3>
<p>{% blocktrans %}Leaflet map <b>center</b> and <b>marker</b> should contain lists of two floats which is latitude and longtitude, <b>waypoints</b> should contain list of such lists. List is comma separated values in sqare brackets.{% endblocktrans %}</p>
<h3>{% trans 'CMS menu links' %}</h3>
<p>{% blocktrans %}If you want custom links to be highlighted when an application is accessed, you should set targets for those custom links as following:{% endblocktrans %}</p>
<table class="adminhelp">
	<tbody>
		<tr>
			<td>mailer</td>
			<td>{% blocktrans %}will be highlighted when the mailer application is accessed{% endblocktrans %}</td>
		</tr>
		<tr>
			<td>feedback</td>
			<td>{% blocktrans %}will be highlighted when the feedback application is accessed{% endblocktrans %}</td>
		</tr>
	</tbody>
</table>
<h2>Mailer</h2>
<!-- TODO private list invites was implemented, I should write about that -->
<p>{% blocktrans %}Subscribers can subscribe to public lists or can be subscribed by staff to non public lists.<br />
List-of-lists is where you should put the list´s uuid to subscribe one to it, list-of-lists should begin, end and be separated with vertical lines.<br />
Messages should be marked ready to be sent, as soon as a message is delivered to every subscriber it was intended for, it will be marked archived.{% endblocktrans %}</p>
<p>{% blocktrans %}Should you want to send an invitation to private list to someone, url should be <i>Mailer-app-url/</i>invited?token=<i>u-u-i-d</i></tt>.{% endblocktrans %}</p>
<p>{% blocktrans %}You can check how your message looks before sending it with admin action and your email address as a parameter.{% endblocktrans %}</p>

<h3>{% trans 'Mailer hooks' %}</h3>
<p>{% blocktrans %}Those hooks work the same way as CMS hooks.{% endblocktrans %}</p>
<table class="adminhelp">
	<tbody>
		<tr>
			<td>&#123;&#123; token_url_for_email|<i>redirect url</i> &#125;&#125;</td>
			<td>{% blocktrans %}will generate a token for every subscriber and place URL to its activation with given redirect{% endblocktrans %}</td>
		</tr>
	</tbody>
</table>
<h2>Polls</h2>
<p>{% blocktrans %}Polls application admin panel should be mostly self-documenting.<br />
Tokens are one time consumables, once they are used (not just activated but actually used for voting) they are gone.{% endblocktrans %}</p>
{% endblock %}
