{% load i18n %}
{% load mainmenu %}
{% load accounts_tags %}

<div class="p-u-xl-7-8 p-u-lg-4-5 p-u-md-5-8 p-u-sm-2-3 menu-main-box">
	<div class="p-menu p-menu-horizontal p-menu-scrollable mainmenu first_menu">
	{% get_items_for_menu as items %}
		<ul class="p-menu-list">
			{% for url, item, target in items %}
				{% if current_item == target or current_url == url %}
					<li class="p-menu-item p-menu-selected">
						<span class="p-menu-link">{{ item }}</span>
					</li>
				{% else %}
					<li class="p-menu-item">
						<a href="{% if target == 'cms index' %}/{% else %}{{ url }}{% endif %}" class="p-menu-link">{{ item }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>

<div class="p-u-xl-1-8 p-u-lg-1-5 p-u-md-3-8 p-u-sm-1-3 menu-right-widget-box">
	<div class="p-menu p-menu-horizontal">
		<div class="menu-right-widget">
			{% if 'accounts' not in DISABLED_FEATURES %}
				<li class="p-menu-item">
					<div class="account" ontuochend="toggle_account_active_class();" onclick="toggle_account_active_class();">
					{% if user.is_authenticated %}
						<img class="gravatar" src="{% get_avatar user.email 32 %}">
					{% else %}
						<img class="login_icon" title="{% trans 'Log in' %}" alt="{% trans 'Log in' %}" src="/static/img/accounts/log_in.png">
					{% endif %}
					</div>
				</li>
			{% endif %}
			{% if 'language switcher' not in DISABLED_FEATURES and not noswitch %}
				<li class="p-menu-item">
					<form class="language-selector-option ru{% if LANGUAGE_CODE == 'ru' %} active{% endif %}" action="{% url 'set_language' %}" method="post">{% csrf_token %}<input name="next" type="hidden" value="{{ redirect_to }}" />
						<input type="hidden" name="language" value="ru" />
						<input type="submit" value="ru" {% if LANGUAGE_CODE == 'ru' %}disabled="disabled" {% endif %}/>
					</form>
				</li>
				<li class="p-menu-item">
					<form class="language-selector-option en{% if LANGUAGE_CODE == 'en' %} active{% endif %}" action="{% url 'set_language' %}" method="post">{% csrf_token %}<input name="next" type="hidden" value="{{ redirect_to }}" />
						<input type="hidden" name="language" value="en" />
						<input type="submit" value="en" {% if LANGUAGE_CODE == 'en' %}disabled="disabled" {% endif %}/>
					</form>
				</li>
			{% endif %}
		</div>
	</div>
</div>

{% if 'accounts' not in DISABLED_FEATURES %}
	{% include 'accounts/form.html' %}
{% endif %}
