{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{{ app_name }}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='mailer' %}
{% endblock %}
{% block breadcrumbs %}

{% endblock %}
{% block content %}
	<div class="content-block">
		<h1>{% trans 'Mailing lists' %}</h1>
		{% if message %}<div class="p-label label-yellow">{{ message }}</div>{% endif %}
		<form class="p-u-xl-1-4 p-u-lg-1-3 p-u-md-1-2 p-u-sm-1 p-form" action="{{ app_subscribe }}" method="POST">
			<fieldset>
				{% csrf_token %}
				{% for name, id, default in lists %}
					<label for="l_{{ id }}" class="p-checkbox">
						<input id="l_{{ id }}" type="checkbox" name="list_{{ id }}"{% if default %} checked="checked"{% endif %}/>
						{{ name }}
					</label>
				{% endfor %}
				<input class="p-input-2-3" type="text" name="email" value="{{ email }}" placeholder="{% trans 'e-mail address' %}" />&nbsp;
				<input class="p-button p-button-primary" type="submit" value="{% trans 'Subscribe' %}" />
			</fieldset>
		</form>
		<hr />
	</div>
{% endblock %}
