{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans app_name %}
	{% trans 'management page' %}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='mailer' %}
{% endblock %}
{% block breadcrumbs %}

{% endblock %}
{% block content %}
	<div class="content-block">
		<h1>{% trans 'Mailing lists control' %}</h1>
		{% if message %}<div class="p-label label-yellow">{{ message }}</div>{% endif %}

		{% if updated %}
			<div class="p-label label-blue" id="success">{% trans 'Updated successfully' %}</div>
			<script>
				setTimeout('document.getElementById("success").remove()', 3000);
			</script>
		{% endif %}

		<div class="p-label label-blue">{% trans 'Your email:' %} <span class="email">{{ email }}</span></div>
		{% if date_confirmed %}
			<div class="p-label label-green">{% trans 'You have confirmed your will to receive emails' %}</div>
		{% else %}
			<div class="p-label label-red">{% trans 'You have not yet confirmed your will to receive emails' %}
				{% if not date_confirmed %}
					<a class="p-button button-small button-secondary" href="{{ app_confirm }}?token={{ token }}">{% trans 'Confirm your will now!' %}</a>
				{% endif %}
			</div>
		{% endif %}
		{% if not date_unsubscribed %}
			<small>
{% blocktrans %}Sure you can <a href="{{ app_unsubscribe }}?token={{ token }}">unsubscribe</a>,<br />
but if you do — you will never be able to resubscribe this email by yourself{% endblocktrans %}
			</small>
		{% else %}
			<div class="p-label label-red">{% trans 'This email is unsubscribed' %}
				<span class="help-icon" title="{% trans 'You can not resubscribe it by yourself, ask the staff if you need to resubscribe' %}">?</span>
			</div>
		{% endif %}

		<form class="p-form p-form-stacked" action="{{ app_manage }}?token={{ token }}" method="POST">
			<fieldset>
				{% csrf_token %}
				<input type="hidden" name="token" value="{{ token }}">
				<label for="id_name">{% trans 'Name' %}
					<input id="id_name" type="text" name="name" value="{{ name }}" placeholder="{% trans 'Name' %}">
				</label>
				<label for="delay">
					{% trans 'Days of delay' %} (0—30)
					<input id="delay" type="text" name="config_mail_delay_interval" value="{{ config_mail_delay_interval }}">
				</label>

				<fieldset>
					{% for name, id, active in lists %}
						<label for="l_{{ id }}" class="p-checkbox">
							<input id="l_{{ id }}" type="checkbox" name="list_{{ id }}"{% if active %} checked="checked"{% endif %}/>
							{{ name }}
						</label>
					{% endfor %}
					{% for name, id in unconfirmed_lists %}
						<div>
							<a class="p-button p-button-secondary button-secondary button-xsmall" href="{{ app_confirm_list }}?token={{ token }}&amp;list={{id}}">
							{% blocktrans with name=name %}confirm subscription</a> to list {{ name }}{% endblocktrans %}
						</div>
					{% endfor %}
				</fieldset>

				<fieldset>
					<label>{% trans 'Gender' %}</label>
					<label for="G_M">
						<input id="G_M" type="radio" name="gender" value="M"{% if gender == "M" %} checked{% endif %}>
						{% trans 'Male' %}
					</label>
					<label for="G_F">
						<input id="G_F" type="radio" name="gender" value="F"{% if gender == "F" %} checked{% endif %}>
						{% trans 'Female' %}
					</label>
					<label for="G_X">
						<input id="G_X" type="radio" name="gender" value="X"{% if gender == "X" %} checked{% endif %}>
						{% trans 'Undefined' %}
					</label>
				</fieldset>

				<fieldset>
					<label>{% trans 'Language' %}</label>
					<label for="l_ru">
						<input id="l_ru" type="radio" name="config_language" value="ru"{% if config_language == "ru" %} checked{% endif %}>
						{% trans 'Ru' %}
					</label>
					<label for="l_en">
						<input id="l_en" type="radio" name="config_language" value="en"{% if config_language == "en" %} checked{% endif %}>
						{% trans 'En' %}
					</label>
				</fieldset>

				<label for="id_config_send_html" class="p-checkbox">
					<input id="id_config_send_html" type="checkbox" name="config_send_html"{% if config_send_html %} checked{% endif %}>
					HTML
				</label>
				<input class="p-button p-button-primary" type="submit" value="{% trans 'Apply' %}">
			</fieldset>
		</form>

		<form action="{{ app_change_token }}" method="POST">
			{% csrf_token %}
			<input type="hidden" name="token" value="{{ token }}">
			<input class="p-button p-button-secondary" type="submit" value="{% trans 'Change access token' %}">
		</form>
	</div>
{% endblock %}
