{% load i18n %}<html><body>{{ message|safe }}
<p>{%blocktrans with site_name=site_name %}This message is sent to you by {{ app_name }}{% endblocktrans %}<br/>
<a href="{{ protocol }}://{{ domain }}{{ app_manage }}?token={{ access_token }}">{% trans 'Url for subscription management and unsubscription' %}</a>.</p>
</body></html>
